{
  "name": "just.js",
  "version": "1.0",
  "author": "Boughpohpue Lukas Kulik",
  "team": "Infertus",
  "domain": "web-development",
  "subdomain": "client-side",
  "category": "utils",
  "group": "javascript",
  "export_as": "class",
  "default_export": "nameof",
  "requires": [
    "jxtensions-1.0.1.js"
  ],
  "content": [
    "*.js",
  ],
  "description": "Javascript utils for everyday use, including nameof function, Is.this functionality, bit operations service and many more...",
  "tags": [
    "js",
    "javascript",
    "nameof", "javascript nameof", "javascript nameof", "javascript get name of",
    "isthis", "Is.this", "javascript isthis", "javascript object checker", "javascript object info getter",
    "gimme", "gimme getter", "javascript gimme", "current date getter", "current time getter", "guid generator",
    "bitwiser", "bit operations", "bit contains", "bit extract", "bit merge", "javascript bit operations",
    "javascript bit contains", "javascript bit extract", "javascript bit merge"
    "matcher", "expression match", "javascript expression matcher", "javascript expression match checker"
  ]
}
